{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Customers Search{% endblock %}
{% block content %}
<h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
<ul class="items">
    {% for customer in results.data %}
    <li>
        <a href="/customers/{{ customer.id }}">
            <i class="fas fa-users"></i>
            <div class="item">
                <h5>{{ customer.firstname }} {{ customer.lastname }}</h5>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
