{% extends 'layouts/main.html' %}
{% block title %}Edit Customer{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/customers/{{customer.id}}/edit">
      <h3 class="form-heading">Edit customer <em>{{ customer.firstname }} {{ customer.lastname }}</em></h3>
      <div class="form-group">
        <label for="firstname">First Name</label>
        {{ form.firstname(class_ = 'form-control', autofocus = true, value=customer.firstname) }}
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        {{ form.lastname(class_ = 'form-control', autofocus = true, value=customer.lastname) }}
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        {{ form.email(class_ = 'form-control', autofocus = true, value=customer.email) }}
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true, value=customer.phone) }}
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_ = 'form-control', autofocus = true, value=customer.address) }}
      </div>
      <input type="submit" value="Edit Customer" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
