{% extends 'layouts/main.html' %}
{% block title %}New Vehicle{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form" action="/vehicle/create">
      <h3 class="form-heading">List a new vehicle <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="brand">Brand</label>
        {{ form.brand(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        {{ form.model(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="year">Year</label>
        {{ form.year(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="color">Color</label>
        {{ form.color(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="rentalprice">Rental Price</label>
        {{ form.rentalprice(class_ = 'form-control', autofocus = true) }}
      </div>
      <input type="submit" value="Create Vehicle" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
